<section class="customer-priority my-10 px-10">
  <h2 class="text-4xl font-semibold">Know Your Customer</h2>
  <p class="text-gray-500 text-xl mt-6">
    Know your customer's needs and priorities based on the consumer results with
    <i>Lowest</i>, <i>Low-Average</i>, <i>High-Average</i>, or
    <i>Highest</i> spending power.
  </p>
  <div class="mt-10 grid grid-cols-12 gap-y-10 gap-x-10">
    <!-- COLUMN 1 -->
    <div class="col-span-12 lg:col-span-3 bg-slate-100 rounded-lg">
      <div class="bg-green-300 w-full h-2 rounded-t-lg"></div>
      <div class="p-6">
        <h3 class="text-lg font-bold mb-2">1. Highest</h3>
        <p class="text-sm leading-6 text-gray-600">
          Customers with the highest spending power. They are the most loyal
          customers and have the highest purchasing power.
        </p>
      </div>
    </div>

    <!-- COLUMN 2 -->
    <div class="col-span-12 lg:col-span-3 bg-slate-100 rounded-lg">
      <div class="bg-yellow-300 w-full h-2 rounded-t-lg"></div>
      <div class="p-6">
        <h3 class="text-lg font-bold mb-2">2. High-Average</h3>
        <p class="text-sm leading-6 text-gray-600">
          Customers with high average spending power. They are loyal customers
          and have a high purchasing power.
        </p>
      </div>
    </div>

    <!-- COLUMN 3 -->
    <div class="col-span-12 lg:col-span-3 bg-slate-100 rounded-lg">
      <div class="bg-orange-300 w-full h-2 rounded-t-lg"></div>
      <div class="p-6">
        <h3 class="text-lg font-bold mb-2">3. Low-Average</h3>
        <p class="text-sm leading-6 text-gray-600">
          Customers with low average spending power. They are maybe loyal and
          have a low purchasing power.
        </p>
      </div>
    </div>

    <!-- COLUMN 4 -->
    <div class="col-span-12 lg:col-span-3 bg-slate-100 rounded-lg">
      <div class="bg-red-300 w-full h-2 rounded-t-lg"></div>
      <div class="p-6">
        <h3 class="text-lg font-bold mb-2">4. Lowest</h3>
        <p class="text-sm leading-6 text-gray-600">
          Customers with the lowest spending power. They are not loyal customers
          and have the lowest purchasing power.
        </p>
      </div>
    </div>
  </div>
</section>
