<section class="customer-priority my-10 px-10">
  <h2 class="text-4xl font-semibold">Decode Traffic Dynamics</h2>
  <p class="text-gray-500 text-xl mt-6">
    Decode the intricacies of traffic patterns by categorizing predictions into different levels: <i>Low</i>, <i>Normal</i>, <i>High</i>, or <i>Heavy</i>, helping you comprehend the nuances of road activity.
  </p>
  <div class="mt-10 grid grid-cols-12 gap-y-10 gap-x-10">
    <!-- COLUMN 1 -->
    <div class="col-span-12 lg:col-span-3 bg-slate-100 rounded-lg">
      <div class="bg-green-300 w-full h-2 rounded-t-lg"></div>
      <div class="p-6">
        <h3 class="text-lg font-bold mb-2">1. Low</h3>
        <p class="text-sm leading-6 text-gray-600">Road lanes may be relatively empty, vehicles can move easily without obstacles, and average speeds may be higher.</p>
      </div>
    </div>

    <!-- COLUMN 2 -->
    <div class="col-span-12 lg:col-span-3 bg-slate-100 rounded-lg">
      <div class="bg-yellow-300 w-full h-2 rounded-t-lg"></div>
      <div class="p-6">
        <h3 class="text-lg font-bold mb-2">2. Normal</h3>
        <p class="text-sm leading-6 text-gray-600">The road is full of vehicles, but the traffic flow remains smooth without significant congestion.</p>
      </div>
    </div>

    <!-- COLUMN 3 -->
    <div class="col-span-12 lg:col-span-3 bg-slate-100 rounded-lg">
      <div class="bg-orange-300 w-full h-2 rounded-t-lg"></div>
      <div class="p-6">
        <h3 class="text-lg font-bold mb-2">3. High</h3>
        <p class="text-sm leading-6 text-gray-600">Road lanes may be full of vehicles, and average speed may decrease. The possibility of traffic jams and increased travel time may occur.</p>
      </div>
    </div>

    <!-- COLUMN 4 -->
    <div class="col-span-12 lg:col-span-3 bg-slate-100 rounded-lg">
      <div class="bg-red-300 w-full h-2 rounded-t-lg"></div>
      <div class="p-6">
        <h3 class="text-lg font-bold mb-2">4. Heavy</h3>
        <p class="text-sm leading-6 text-gray-600">Road lanes may be crowded with vehicles, average speeds may slow significantly, and travel times may become longer. There may be a complete stop (congestion) or severe traffic jams.</p>
      </div>
    </div>
  </div>
</section>
