<section class="tutorial my-10 px-10 flex flex-col items-center">
  <h2 class="text-4xl font-semibold">How To Use</h2>
  <div class="mt-10 flex flex-col items-center">
    <h3 class="text-xl font-semibold mb-6">
      1. Click on the "Get Started" button
    </h3>
    <a
      href="/form"
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
    >
      Get Started
    </a>
  </div>

  <div class="flex flex-col items-center mt-10">
    <h3 class="text-xl font-semibold">
      2. Fill out the form with your information of your customers
    </h3>
    <i class="mt-2 mb-6">
      Data that you are submitting will not be used for any other purpose other
    </i>
    <img
      src="../../static/images/form_input.png"
      alt="form_input"
      class="rounded-lg md:w-2/3"
    />
  </div>

  <div class="flex flex-col items-center mt-10">
    <h3 class="text-xl font-semibold mb-6">
      3. After finished filling out the form, click on the "Submit" button
    </h3>
    <img
      src="../../static/images/form_input_filled.png"
      alt="form_input"
      class="rounded-lg md:w-2/3"
    />
  </div>

  <div class="flex flex-col items-center mt-10">
    <h3 class="text-xl font-semibold mb-6">
      4. Tada! Based on your input, you will know the customer priority
    </h3>
    <img
      src="../../static/images/form_result.png"
      alt="form_input"
      class="rounded-lg md:w-2/3"
    />
  </div>
</section>
